.no-margin-bottom {margin-bottom: 0;}
.no-padding-top {padding-top: 0;}
.handle {margin-bottom: 10px;}
.fs-18 {font-size: 18px}
.fs-20 {font-size: 20px}
.no-backgrounds { background: transparent;border: none;}
.no-backgrounds:focus { background: transparent;border-bottom: 2px solid #101010 }
#tab tbody tr td{
    padding:10px;
    vertical-align: middle;
}

.bb.btn{
    font-size: 10px;
/*    margin-bottom: 5px;*/
    padding: 4px 8px;
}

.table.ss tbody tr td {
    padding:10px;
}

#listnone{
    list-style: none;
    padding-left: 0px;
    width: 100%;
    border: 1px solid;
    border-bottom: 0px;
    background: white;
}

#listnone li{
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid;
}

#listnone li:hover{
    background: #daefdd;
}

.gmb{
    text-align: center;
    width: 100%;
    padding: 0px;
}

#potong tbody tr td{
    padding: 5px 20px;
    vertical-align: middle;
}
