@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Black.ttf);
}
@font-face {
    font-family: Avenir-Black;
    src: url(../fonts/Avenir-Black.ttf);
}
@font-face {
    font-family: Avenir-BlackOblique;
    src: url(../fonts/Avenir-BlackOblique.ttf);
}
@font-face {
    font-family: Avenir-Book;
    src: url(../fonts/Avenir-Book.ttf);
}
@font-face {
    font-family: Avenir-BookOblique;
    src: url(../fonts/Avenir-BookOblique.ttf);
}
@font-face {
    font-family: Avenir-Heavy;
    src: url(../fonts/Avenir-Heavy.ttf);
}
@font-face {
    font-family: Avenir-HeavyOblique;
    src: url(../fonts/Avenir-HeavyOblique.ttf);
}
@font-face {
    font-family: Avenir-Light;
    src: url(../fonts/Avenir-Light.ttf);
}
@font-face {
    font-family: Avenir-LightOblique;
    src: url(../fonts/Avenir-LightOblique.ttf);
}
@font-face {
    font-family: Avenir-Medium;
    src: url(../fonts/Avenir-Medium.ttf);
}
@font-face {
    font-family: Avenir-MediumOblique;
    src: url(../fonts/Avenir-MediumOblique.ttf);
}
@font-face {
    font-family: Avenir-Oblique;
    src: url(../fonts/Avenir-Oblique.ttf);
}
@font-face {
    font-family: Avenir-Roman;
    src: url(../fonts/Avenir-Roman.ttf);
}
@font-face {
    font-family: Times-Bold;
    src: url(../fonts/Times-Bold.ttf);
}
@font-face {
    font-family: Times-BoldItalic;
    src: url(../fonts/Times-BoldItalic.ttf);
}
@font-face {
    font-family: Times-Italic;
    src: url(../fonts/Times-Italic.ttf);
}
@font-face {
    font-family: Times-Roman;
    src: url(../fonts/Times-Roman.ttf);
}
@font-face {
    font-family: Dunkin;
    src: url(../fonts/Dunkin.otf);
}