body{
	font-family: Avenir-Book;
}
img{
	width: 100%;
}
textarea{
	resize: none;
}
textarea, input{
	border-radius: 0 !important;
	border-color: black !important;
}
.padding0{
	padding: 0;
}
.padding10{
	padding: 10px;
}
.paddingright10{
	padding-right: 10px !important;
}
.margin0{
	margin: 0;
}
.margin10{
	margin: 10px;
}
.marginbottom20{
	margin-bottom: 20px;
}
.marginright20{
	margin-right: 20px;
}
.marginleft20{
	margin-left: 20px;
}
.margintop0{
	margin-top: 0;
}
.margintop8{
	margin-top: 8px;
}
.margintop10{
	margin-top: 10px;
}
.margintop30{
	margin-top: 30px;
}
.marginbottom10{
	margin-bottom: 10px;
}
.marginbottom20{
	margin-bottom: 20px;
}
.marginbottom30{
	margin-bottom: 30px;
}
.marginbottom50{
	margin-bottom: 50px;
}
.height-desktop{
	height: 100vh;
}
.height-image100{
	height: 100%;
}
.height-image60{
	height: 60%;
}
.height-image40{
	height: 40%;
}
.width100{
	width: 100%;
}
.floatright{
	float: right;
}
.paddingleft20{
	padding-left: 20px;
}
.positionabsolute{
	position: absolute;
}
.top0{
	top: 0;
}
.width100{
	width: 100%;
}
.zindex20{
	z-index: 20;
}
.overlay-text-slider{
	position: absolute;
	bottom: 48%;
}
.overlay-text{
	position: absolute;
}
.owl-theme .owl-controls{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100%;
}
.owl-pagination{
	position: absolute;
	bottom: 5%;
	width: 100%;
}
.owl-buttons{
	position: absolute;
	width: 100%;
	top: 45%;
}


@media screen and (min-width: 768px){
	.navbar-collapse{
		padding: 0;
	}
	.navbar{
		margin-bottom: 0;
		border: none;
		border-radius: 0;
	}
	.navbar-brand{
		
		font-size: 35px;
		height: auto;
		line-height: 35px;
		
	}
	
	.navbar-nav > li > a{
		line-height: 35px;
		font-size: 16px;
	}
	.navbar-nav > li{
		text-align: center;
	}
	.navbar-nav{
		float: right;
	}
	.displaymobile{
		display: none;
	}

}
@media screen and (max-width: 767px){
	.displaydesktop{
		display: none !important;
	}
        .navbar-default{
                background: #515151 !important;
                position: relative;
        }
}