#mobile{
    display: none;
}
#desktop{
    display: block;
}

.navbar{
	background:white;
	color: black;
	margin-bottom: 0;
}
.navbar-brand{
	font-family: Avenir-Heavy;
	text-transform: uppercase;
	color: white !important;
}
.navbar-nav > li > a{
	color: white !important;
}

.textcenter{
	text-align: center;
}
.textright{
	text-align: right;
}
.textjustify{
	text-align: justify;
}
.textleft{
	text-align: left;
}
label{
	font-size: 18px;
}
.btn-submit{
	border-radius: 0 !important;
	background: #595959;
	color: white;
	font-size: 16px;
	padding: 6px 25px; 
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active{
	background: #939191;
	color: white;
}
.fontavenirheavy{
	font-family: Avenir-Heavy;
}
.fontdunkin{
	font-family:Dunkin;
}
a.boxclose{
    float:right;
    cursor:pointer;
    color: #605F61;
    border: none;
    background: ;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
    outline: none;
}
.boxclose:before {
    content: "×";
}
.bordertop1{
	border-top:1px solid black;
}
.borderbottom20{
	border-bottom: 20px solid white;
}

.bluecolor{
	color: #008FFF !important;
}
.backgroundwhite{
	background: white;
}
.backgroundgrey{
	background: #b4b4b4;
}
.backgroundblue{
	background:  #008FFF;
}
.backgroundpink{
	background:  #ffcbd3;
}
.backgroundtransparent{
	background: transparent;
}
.backgroundorange{
	background: #ffc966 !important;
}
.backgrounddarkgrey{
	background: #515151;
}
.owl-buttons div{
	position: absolute;
	color: white !important;
	font-size: 60px !important;
}	
.owl-buttons .owl-prev{
	left: 0;
}
.owl-buttons .owl-next{
	right: 0;
}
.colorwhite{
	color: white;
}
.textuppercase{
	text-transform: uppercase;
}
.colorpink{
	color: #ffcbd3;
}
.colororange{
	color: #ffc966 !important; 
}
.colorgrey{
	color: #b4b4b4;
}
.colordarkgrey{
	color: #515151;
}
.fontsize60{
	font-size: 60px;
}

/* Loading */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../img/loader-64x/preloader_8.svg) center no-repeat rgba(240, 240, 240, 0.89);
}
/* End Loading */

/* Produk Style */
.displaytable {
    display: table;
    width: 100%;
}
.displaytablecell {
    display: table-cell;
    vertical-align: middle;
}
.text-overlay {
    position: absolute;
    bottom: 0;
    color: #000;
    background: rgba(255, 255, 255, 0.69);
    padding: 3px 5px;
    left: 0;
    right: 0;
    width: 70px;
    text-align: left;
    line-height: 15px;
}
.text-overlay span {
    width: 100%;
    display: block;
    line-height: 15px;
}
.font-10 {
    font-size: 10px;
}

.box .btn-success {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.box.open {
    webkit-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.47);
}
.box #formbayar {
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    padding-bottom: 10px;
}
.frame-image {
    min-height: 175px;
}
@media (min-width: 1025px) {
    .frame-image img {
        max-height: 175px;
        width: 100%;
    }
}
.frame-image {
    min-height: 175px;
}
/* End Produk Style */

@media (max-width: 768px) {
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    } 
}